/* Imagen de fondo con un degradado y apariencia elegante */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #180606;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 10px; /* Ajusta el valor según el espacio que desees en la parte superior */
}

/* Estilo general del contenedor */
.container {
    max-width: 600px;
    margin: 30% auto;
    padding: 5%;
    background-color: rgba(202, 224, 251, 0.9);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Título del formulario */
h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5em;
}

/* Estilo para grupos de formulario */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Estilo para etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

/* Estilo para los inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 1em;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Inputs para radio buttons */
input[type="radio"] {
    margin-right: 5px;
}

/* Barra de deslizamiento */
input[type="range"] {
    width: 100%;
}

/* Botón de enviar */
button[type="submit"] {
    background-color: #ff7f50;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff4500;
}

/* Estilo para la calificación con estrellas */
.rating {
    display: flex;
    justify-content: space-around;
    direction: rtl; /* Mostrar las estrellas de derecha a izquierda */
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
}

.rating input:checked ~ label {
    color: #ffcc00;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #ffcc00;
}

/* Estilo para el fondo degradado */
@media only screen and (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    button[type="submit"] {
        width: 100%;
        padding: 15px;
    }
}


